.footer-address__logo {
    margin-bottom: 20px;

    display: inline-block;
    color: $primary-background-color;
    font-family: $font-logo;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

.footer-address__logo-bluepart {
    color: $accent-color;
}