.footer-social {
  margin-top: 60px;

  @media screen and (min-width: 768px) {
    width: 231px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 70px;
    width: 231px;
  }
}

.footer-social__text {
  margin-bottom: 20px;

  color: $primary-background-color;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

.our-social-list {
  display: flex;
  justify-content: center;
  gap: 10px;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-around;
  }

  @media screen and (min-width: 1200px) {
    display: inline-flex;

    gap: 10px;
    width: 206px;
  }
}

.our-social-list__link {
  padding: 0px;

  width: 44px;
  height: 44px;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: $primary-background-color;
  background-color: rgb(255, 255, 255, 10%);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $accent-color;
    color: $primary-background-color;
  }
}

.our-social-list__icon {
  fill: currentColor;
}
