.header__logo {
  margin-right: 93px;

  color: #000;
  font-family: $font-logo;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  .header__logo-bluepart {
    color: $accent-color;
  }
}
