.menu-button {
  margin-left: auto;
  margin-top: 10px;
  margin-bottom: 10px;

  background-color: transparent;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;

  background-color: transparent;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;

  padding: 40px;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  transform: translateX(100%);
  background-color: $primary-background-color;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.is-open {
    transform: translateX(0);
  }
}

.menu-nav {
  margin-bottom: auto;
}

.menu-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.menu-nav__link {
  display: block;
  color: $primary-text-color;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &--current {
    color: $accent-color;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    position: relative;
  }

  &:hover,
  &:focus {
    color: $accent-color;
  }

  @media screen and (max-width: 479px) {
    font-size: 36px;
  }
}

.menu-contacts__item:not(:last-child) {
  margin-bottom: 20px;
}

.menu-contacts__link {
  color: $secondary-text-color;
  font-weight: 500;

  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.menu-contacts__link--accent {
  color: $accent-color;
  font-weight: 500;

  line-height: 1.14;
  letter-spacing: 0.02em;
}

.menu-contacts__item:nth-child(1) {
  font-size: 28px;

  @media screen and (min-width: 480px) {
    font-size: 34px;
  }
}

.menu-contacts__item:nth-child(2) {
  font-size: 20px;

  @media screen and (min-width: 480px) {
    font-size: 24px;
  }
}

.menu-contacts__icon-envelope {
  margin-right: 10px;

  fill: currentColor;
}

.menu-contacts__icon-phone {
  margin-right: 10px;

  fill: currentColor;
}

// .menu-social {
//   margin-top: 64px;

//   display: flex;
//   flex-wrap: wrap;
//   font-family: 'Roboto';
//   font-style: normal;
//   font-weight: 500;
//   font-size: 18px;
//   line-height: 1.2;
//   letter-spacing: 0.02em;
//   color: $accent-color;

//   @media screen and (max-width: 479px) {
//     font-size: 12px;
//   }
// }

// .menu-social__item:nth-child(1) {
//   padding-right: 10px;
// }

// .menu-social__item:nth-child(2) {
//   padding-left: 10px;
//   padding-right: 10px;
// }

// .menu-social__item:nth-child(3) {
//   padding-left: 10px;
//   padding-right: 10px;
// }

// .menu-social__item:nth-child(4) {
//   padding-left: 10px;
// }

// .menu-social__item:not(:last-child) {
//   border-right: 1px solid rgba(33, 33, 33, 0.2);
// }

.menu-social-list {
  margin-top: 64px;
  display: flex;
  gap: 10px;
}

.menu-social-list__link {
  padding: 0px;
  width: 44px;
  height: 44px;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: $primary-background-color;
  background-color: $accent-color;
}

.menu-social-list__icon {
  fill: currentColor;
}
