$primary-text-color: #212121;
$secondary-text-color: #757575;
$accent-color: #2196f3;
$primary-background-color: #ffffff;
$secondary-background-color: #2f303a;
$third-bacground-color: #f5f4fa;
$total-black-color: #000000;
$opacity60-white-color: rgb(255, 255, 255, 60%);

$font-logo: "Raleway";
$primary-font: "Roboto";
